<div class="footer">
  <div class="footer-section ">
    <a href="https://peatio.tech"><%= image_tag 'logo.png' %></a>
    <p>
      <a href="https://peatio.tech" target="_blank">peatio.tech</a> is a
      <a href="https://heliostech.fr" target="_blank">Helios Technologies SAS Company</a>.
      Helios specializes in Micro-Service Architecture and Blockchain
      systems.
    </p>
    <p> We love <span class="highlight">#kubernetes #ci #devops #blockchain</span></p>
    <a href="https://heliostech.fr" target="_blank">Helios Technologies SAS</a>
    <p>
      14 rue de Mantes,<br/>
      92 700 - Colombes<br/>
      France
    </p>
  </div>

  <div class="footer-section">
    <div class="text-center">
      <i class="fa fa-envelope-o fa-3x" aria-hidden="true"></i>
      <h2>Need Help with <span class="highlight">Peatio</span>?</h2>
      <p>
        <a href="mailto:hello@peatio.tech">Contact us</a>
        any time for <span class="highlight">Peatio</span> related <br class="hidden-xs"> questions. We look forward to hearing from you!
      </p>
      <a href="mailto:hello@peatio.tech">hello@peatio.tech</a>
    </div>
  </div>
</div>
